.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px; /* Adjust width as needed */
  margin: 0 auto;
}

.cell {
  width: 100px; /* Adjust cell size as needed */
  height: 100px;
  border: 1px solid black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cell:hover {
  background-color: #cccccc; /* Background color on hover */
}

#status-message {
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  background-color: #cccccc; /* Background color on hover */
}
.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin:15px;
  padding: 10px 20px; /* Adjust padding */

}
